<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:label="Attacker App">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AttackerActivity"
            android:label="Attacker Intent Interceptor"
            android:exported="true">
            <intent-filter>
                <action android:name="org.owasp.mastestapp.REQUEST_FILE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name=".AttackerContentProvider"
            android:authorities="org.owasp.mastestapp.attacker.provider"
            android:enabled="true"
            android:exported="true"
            android:grantUriPermissions="true">
        </provider>
    </application>
</manifest>
